$primary-color: #E04E25;
$secondary-color: #000;
$third-color: #FEFEFE;
$fourth-color: #FDDE66;
$fifth-color: #FCFF3D;

$primary-font-style: 'Crimson Text', 'Times New Roman', Times, serif;
$secondary-font-style: 'Palanquin', Arial, Helvetica, sans-serif;
$button-font-style: 'Special Elite', Arial, Helvetica, sans-serif;